*{
    margin: 0;
    padding: 0;
    font-family: Roboto,Helvetica Neue,sans-serif;
}
nav{
    background-color: #017e7e;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    font-weight: bolder;
    position: fixed;
    width: 100%;
}
#fake-nav{
    height: 60px;
}
#login{
    padding: 10px;
    border: 2px  solid white ;
    border-radius: 20px ;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: rgba(239, 243, 7, 0.801);
}
.banner {
    display: none;
    height: 550px;
    width: 100%;
}
#banner-1{
    display: block;
}
.banner img{
    width: 100%;
    height: inherit;
}
#change-banner{
    position: fixed;
    top: 84%;
    left: 90%;
}