*{
    margin: 0;
    padding: 0;
    font-family: Roboto,Helvetica Neue,sans-serif;
}
#fake-header{
    height: 50px;
}
header{
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    background-color: #015353;
    color: white;
    height: 60px;
    font-size: 12px;
}
.ministry-of-health{
    width: 150px;
    margin-bottom: 8px;
}
#indian-govt-logo{
    margin-left: 20px;
    margin-bottom: 7px;
    display: inline-block;
    height: 40px;
    width: 30px;
}
#indian-govt-logo  img{
    height: inherit;
}
nav{
    background-color: #017e7e;
    color: white;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: bold ;
    position: fixed;
    width: 100%;
}
#Health_ID{
    margin-right: 50px;
}
#Dashboard{
    margin-right: 50px;
}
#Certificate_Verification{
    margin-right: 50px;
}
#Faq{
    margin-right: 50px;
}
#Partners{
    margin-right: 50px;
}
#Login{
    margin-right: 50px;
}
#fake-nav{
    height: 60px;
}
#login{
    padding: 13px 18px;
    border: 2px  solid white ;
    border-radius: 25px ;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: rgba(239, 243, 7, 0.801);
}
#backward-icon{
    font-size: 24px;
}
#backward-icon a{
    color: black;
}
#backward-icon a:hover{
    color: rgb(70, 68, 68);
}
#forward-icon{
    font-size: 24px;
}
#forward-icon a{
    color: black;
}
#forward-icon a:hover{
    color: rgb(70, 68, 68);
}
.banner {
    display: none;
    height: 550px;
    width: 100%;
}
#banner-1{
    display: block;
}
#change-banner{
    position: absolute;
    top: 89%;
    left: 40%;
    font-size : 22px;   
}
#numerator{
    font-size: 25px;
}
.text-for-banner-1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 50.20%;
    width: 50%;
    left: 4%;
    font-size: 22px;
}

.text-for-banner-1 #heading_1{
    margin-bottom: 20px;
}
.text-for-banner-1 #abbrv{
    margin-top: 10px;
    margin-bottom: 10px;
}
.banner img{
    width: 100%;
    height: inherit;
}
#vaccination_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
#vaccination_center h1{
    color: #015353;
    font-size: 35px;
    margin-bottom: 18px;
}
#vaccination_center p{
    font-size: 21px;
    margin-bottom: 10px;
}
#vaccination_center #subtext a{
    color: #017e7e;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;  

}
#vaccination_center #subtext{
    margin-bottom: 10px;
}